html, body {
    margin: 0; height: 100%; overflow: hidden
}

#main {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#pane {
    background-color: rgb(48, 46, 46);
    width: 300px;
    border-right-style: solid;
    border-color: black;
}

#title {
    margin-top: 15%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    text-align: center;
}

#projects {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    background-color: rgba(255,255,255,1) 0%;
    margin-right: 10px;
    margin-left: 10px;
}

#tasks {
    display: flex;
    flex-direction: column;
    background-color: rgb(66, 61, 61);
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

#taskbox {
    display: flex;
    align-content: flex-start;
    height: 85%;
    width: 85%;
    background-color: rgb(48, 46, 46);
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    /* text-align: center; */
    margin-bottom: 15px;
    flex-wrap: wrap;
    /* align-items: center; */
}

.list {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: pointer;
}

.lista {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
    background-color: rgb(66, 61, 61);
    text-align: center;
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: pointer;
}

#current {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.clist {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 48%;
    height: 24px;
    margin: 5px;
    cursor: pointer;
}

.cplus {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 65%;
}

.plus {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    padding: 6px;
    margin-bottom: 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    text-align: center;
    color: rgb(255, 255, 255);
    user-select: none;
    cursor: pointer;
}

.header {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-top: 6px;
    margin-bottom: 6px;
}

#task {
    align-self: center;
    margin-left: 25%;
}

#priority {
    align-self: center;
    margin-left: 25%;
}

#due {
    align-self: center;
    margin-left: 11%;
}

#done {
    align-self: center;
    margin-left: 11%;
}

.priority {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    padding: 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    width: 10%;
    margin: 5px;
    height: 24px;
    cursor: pointer;
}

.due {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    padding: 6px;
    /* border-radius: 4px;
    border-style: solid;
    border-color: black; */
    color: rgb(255, 255, 255);
    width: 10%;
    margin: 5px;
    margin-left: 5.5%;
    height: 24px;
    cursor: pointer;
}

.done {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content:space-between;
    padding: 6px;
    border-radius: 4px;
    border-style: solid;
    border-color: black;
    color: rgb(255, 255, 255);
    width: 10%;
    margin: 5px;
    margin-left: 5%;
    height: 24px;
    cursor: pointer;
}